<header class="c-page__header">
  <h1><code>{{ site.title}}</code></h1>
  <p>
    <a href="{{ "/" | prepend: site.baseurl }}">Home</a><span
          class="u-separate"></span><a href="{{ "/install/" | prepend:
          site.baseurl }}">Install</a><span class="u-separate"></span><a href="{{ "/tutorial/" | prepend:
          site.baseurl }}">Getting started</a><span class="u-separate"></span> <a href="{{ "/recipes/" | prepend: site.baseurl }}">Styling</a><span class="u-separate"></span><a href="{{ "/scaffolding/" | prepend: site.baseurl }}">Scaffolding</a>
  </p>
</header>
